<link rel="stylesheet" href="../main.css">

  <div class="eventList">
    <header class="eventListHeader">
        <h2>Iron Meetups</h2>
            <nav class="navTags">
              <a class="link" href="eventlist.html">Events</a>
              <a class="link" href="signup.html">Log Out</a>
            </nav>
    </header>

    <div class="eventListContainer">
      <div class="eventListItems">
          <p id="eventListName">Event Name</p>
            <div class="eventDetails">
              <p id="eventListLocation">Location</p>
              <p id="eventListDateTime">Date and Time</p>
            </div>
      </div>

        <div id="confirmOrView">
          <button id="rsvp" type="button" name="button">Click to RSVP</button>
          <button id="view"type="button" name="button">View Event Info</button>
        </div>

    </div>



  </div>
