<link rel="stylesheet" href="../main.css">

<div class="eventView">
      <header class="eventViewHeader">
          <h2>Iron Meetups</h2>
              <nav class="navTags">
                <a class="link" href="eventlist.html">Events</a>
                <a class="link" href="signup.html">Log Out</a>
              </nav>
      </header>

      <div class="eventViewContainer">
        <div class="eventDescription">
              <h1>Event Name</h1>
              <h2>When?</h2>
              <p id="eventDateTime"> "date" at "time"</p>
              <h2>Where?</h2>
              <p id="eventLocation">"location"</p>
              <h2>What is this all about?</h2>
              <p id="eventDescription">"event description"</p>
        </div>

        <div class="attendeesList">
              <h2>Attendees</h2>
              <p id="attendees"></p>
       <!-- //will be in for loop to generate registered users. Wasn't sure if p tag was most appropriate. -->
        </div>
</div>
